<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>资产配置</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body>
<div id="LAY_app_body">
    <div class="layadmin-tabsbody-item layui-show">
        <div class="layui-fluid" style="margin: 15px;">
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 80px;">Trader: </label>
                <div class="layui-input-inline" style="width: 300px;">
                    <input type="text" id="select-trader" lay-verify="required" placeholder="Please input trader name" autocomplete="off" class="layui-input">
                </div>
                <label class="layui-form-label" style="width: 50px;">Stock: </label>
                <div class="layui-input-inline" style="width: 300px;">
                    <input type="text" id="select-stock" lay-verify="required" placeholder="Please input stock code or name" autocomplete="off" class="layui-input">
                </div>
                <a href="javascript:;" class="layui-btn layui-btn-small" id="btn-select"><i
                        class="layui-icon layui-icon-refresh"></i> Select</a>
                <a href="javascript:;" class="layui-btn layui-btn-small" id="btn-add"><i
                        class="layui-icon layui-icon-add-circle"></i> Add</a>
            </div>
        </div>

        <div style="padding: 15px; overflow:auto;">
            <table class="layui-table" id="asset-table" lay-filter="asset-table" width="auto" style="white-space:nowrap"></table>
            <script type="text/html" id="toolbar">
                <a class="layui-btn layui-btn-xs" lay-event="edit">
                    <i class="layui-icon">&#xe642;</i>Edit
                </a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">
                    <i class="layui-icon">&#xe640;</i>Delete
                </a>
            </script>
        </div>
    </div>
</div>

<div style="margin: 15px; display: none" id="pop-div">
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 150px;">User:</label>
            <div class="layui-input-block" style="margin-left: 200px;">
                <select class="layui-select" name="select-user" id="select-user" lay-search="" lay-filter="select-user"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 150px;">Trader Account:</label>
            <div class="layui-input-block" style="margin-left: 200px;">
                <select class="layui-select" name="select-account" id="select-account" lay-search=""></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 150px;">Asset Type:</label>
            <div class="layui-input-block" style="margin-left: 200px;">
                <select class="layui-select" name="select-type" id="select-type" lay-search=""></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 150px;">Asset Name:</label>
            <div class="layui-input-block" style="margin-left: 200px;">
                <input type="text" name="input-name" id="input-name" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 150px;">Asset Amount:</label>
            <div class="layui-input-block" style="margin-left: 200px;">
                <input type="text" name="input-amount" id="input-amount" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 150px;">Asset Currency:</label>
            <div class="layui-input-block" style="margin-left: 200px;">
                <select class="layui-select" name="select-currency" id="select-currency" lay-search=""></select>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="/static/js/util/md5.min.js"></script>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script type="text/javascript" src="/static/layui/lay/modules/laypage.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
    layui.use(['table', 'form'], function () {
        var $ = layui.jquery,
            layer = layui.layer;
        var table = layui.table;
        var tblCols = [
            {type: 'numbers'},
            {type: 'checkbox'},
            {field: 'id', title: 'id', hide: true},
            {field: 'taId', title: 'taId', hide: true},
            {field: 'uid', title: 'uid', hide: true},
            {field: 'userId', title: 'userId', hide: true},
            {field: 'userName', title: 'User Name', width: 150},
            {field: 'nickName', title: 'Nick Name', width: 150},
            {field: 'trader', title: 'Trader', width: 150},
            {field: 'account', title: 'Account', width: 250},
            {field: 'assetType', title: 'Asset Type', width: 150}, // 资产类型
            {field: 'assetName', title: 'Asset Name', width: 200}, // 资产名称
            {field: 'amount', title: 'Amount', width: 200}, // 资产数量
            {field: 'currency', title: 'Currency', width: 120}, // 资产货币单位
            {fixed: 'right', width: 200, align: 'center', toolbar: '#toolbar'}
        ];

        // 从数据库中检索所有的用户信息并渲染Table
        var tableObj = table.render({
            elem: '#asset-table' //指定原始表格元素选择器（推荐id选择器）
            , cellMinWidth: 30
            , height: 'full-150'
            , loading: true
            , cols: [tblCols]
            , sort: true
            , page: true
            , url: '/finance/asset/allocation/overview'
            , limit: 15
            , where: {
                trader: $.trim($("#select-trader").val())
                , stock: $.trim($("#select-stock").val())
            }
        });

        $("#btn-select").on('click', function () {
            tableObj.reload({where: {trader: $.trim($("#select-trader").val()), stock: $.trim($("#select-stock").val())}});
        });

        $('#btn-add').on('click', function () {
            $('#pop-div').show();
            $("#input-name").val('');
            $("#input-amount").val('');
            $("#select-user").find("option[value=1]").prop("selected", true);
            traderAccount(1);
            $("#select-type").find("option[value=1]").prop("selected", true);
            $("#select-currency").find("option[value=1]").prop("selected", true);

            layui.form.render('select');
            layui.form.render();

            layer.open({
                type: 1,
                shadeClose: false,
                title: 'Add',
                btn: ['Save', 'Cancel'],
                area: ['640px', '550px'],
                content: $('#pop-div'),
                yes: function (index) {
                    layer.close(index);
                    var loading = layer.load(1);

                    var param = {
                        'taId': $("#select-account").val(),
                        'assetName': $.trim($("#input-name").val()),
                        'amount': $.trim($("#input-amount").val()),
                        'currency': $.trim($("#select-currency").val()),
                        'assetType': $.trim($("#select-type").val())
                    };

                    $.post('/finance/asset/allocation/create', param, function (result) {
                        if (result.code == 200) {
                            layer.msg("Save Successful.");
                            tableObj.reload();
                        } else {
                            layer.alert("Save failed.");
                            console.log(result.msg)
                        }
                        layer.close(loading);
                    }, "json");
                },
                end: function () {
                    $('#pop-div').hide();
                }
            });
        });

        table.on('tool(asset-table)', function (obj) {

            var data = obj.data;
            var layEvent = obj.event;

            if (layEvent === 'edit') {
                $('#pop-div').show();
                $("#input-trader").val(data.trader);
                $("#input-account").val(data.account);
                $("#select-user").find("option[value=" + data.uid + "]").prop("selected", true);
                layui.form.render();

                layer.open({
                    type: 1,
                    shadeClose: false,
                    title: 'Add',
                    btn: ['Save', 'Cancel'],
                    area: ['640px', '500px'],
                    content: $('#pop-div'),
                    yes: function (index) {
                        layer.close(index);
                        var loading = layer.load(1);

                        var param = {
                            'id': data.id,
                            'taId': $("#select-account").val(),
                            'assetName': $.trim($("#input-name").val()),
                            'amount': $.trim($("#input-amount").val()),
                            'currency': $.trim($("#select-currency").val()),
                            'assetType': $.trim($("#select-type").val())
                        };

                        $.post('/finance/asset/allocation/update', param, function (result) {
                            if (result.code == 200) {
                                layer.msg("Save Successful.");
                                tableObj.reload();
                            } else {
                                layer.alert("Save failed.");
                                console.log(result.msg)
                            }
                            layer.close(loading);
                        }, "json");
                    },
                    end: function () {
                        $('#pop-div').hide();
                    }
                });
            } else if (layEvent == 'delete') {
                layer.confirm('Do you want to delete it?', {
                    btn: ['Confirm', 'Cancel'], title: false
                }, function (index) {
                    layer.close(index);
                    var loading = layer.load(1);

                    $.get("/finance/asset/allocation/" + data.id + "/delete", {}, function (result) {
                        if (result.code == 200) {
                            layer.msg("Delete successful.");
                            tableObj.reload();
                        } else {
                            layer.alert("Delete failed.");
                            console.log(result.msg)
                        }
                        layer.close(loading);
                    });
                });
            }
        });

        $.get('/user/list', {}, function (data) {
            var html = "";
            $("select[name='select-user']").empty();
            $.each(data.data, function (index, item) {
                html += "<option value='" + item.id + "'>" + item.name + ' - ' + item.nickName + "</option>";
            });
            $("select[name='select-user']").append(html);
            traderAccount(data.data[0].id);
            layui.form.render('select');
        });


        function traderAccount(uid) {
            $.get('/finance/trader/account/search/uid', {'uid': uid}, function (taData) {
                var taHtml = "";
                $("select[name='select-account']").empty();
                $.each(taData.data, function (index, item) {
                    taHtml += "<option value='" + index + "'>" + item + "</option>";
                });
                $("select[name='select-account']").append(taHtml);
                layui.form.render('select');
            });
        }

        $.get('/enum/finance/type', {}, function (data) {
            var html = "";
            $("select[name='select-type']").empty();
            $.each(data.data, function (index, item) {
                html += "<option value='" + item.code + "'>" + item.name + "</option>";
            });
            $("select[name='select-type']").append(html);
            layui.form.render('select');
        });

        $.get('/enum/currency', {}, function (data) {
            var html = "";
            $("select[name='select-currency']").empty();
            $.each(data.data, function (index, item) {
                html += "<option value='" + item.code + "'>" + item.name + "</option>";
            });
            $("select[name='select-currency']").append(html);
            layui.form.render('select');
        });

        layui.form.on('select(select-user)', function(data){
            console.log(data.value);
            traderAccount(data.value);
            layui.form.render('select');
        });
        
    });
</script>
</body>
</html>