<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客列表</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body>
<div id="LAY_app_body">
    <div class="layadmin-tabsbody-item layui-show">
        <div class="layui-fluid" style="margin: 15px;">
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 80px;">Title: </label>
                <div class="layui-input-inline" style="width: 300px;">
                    <input type="text" id="select-title" lay-verify="required" placeholder="Please input title"
                           autocomplete="off" class="layui-input">
                </div>
                <a href="javascript:;" class="layui-btn layui-btn-small" id="btn-select-title">
                    <i class="layui-icon layui-icon-refresh"></i> Select
                </a>
            </div>
        </div>

        <div style="padding: 15px; overflow:auto;">
            <table class="layui-table" id="blog-table" lay-filter="blog-table" width="auto"
                   style="white-space:nowrap"></table>
            <script type="text/html" id="toolbar">
                <a class="layui-btn layui-btn-xs" lay-event="edit" id="editForm">
                    <i class="layui-icon">&#xe642;</i>Edit
                </a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">
                    <i class="layui-icon">&#xe640;</i>Delete
                </a>
            </script>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/layui/layui.js"></script>
<script type="text/javascript" src="/static/layui/lay/modules/laypage.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
    layui.use(['table', 'form'], function () {
        var $ = layui.jquery,
            layer = layui.layer;
        var table = layui.table;
        var tblCols = [
            {type: 'numbers'},
            {type: 'checkbox'},
            {field: 'id', title: 'id', hide: true},
            {field: 'title', title: 'Title', width: 500},
            {field: 'article', title: 'Article', width: 120},
            {field: 'status', title: 'State', width: 120},
            {field: 'pageView', title: 'Page View', width: 120},
            {field: 'createTime', title: 'Create Time', width: 250},
            {fixed: 'right', width: 220, align: 'center', toolbar: '#toolbar'}
        ];

        // 从数据库中检索所有的用户信息并渲染Table
        var tableObj = table.render({
            elem: '#blog-table' //指定原始表格元素选择器（推荐id选择器）
            , cellMinWidth: 30
            , height: 'full-150'
            , loading: true
            , cols: [tblCols]
            , sort: true
            , page: true
            , url: '/public/list/all/blog'
            , limit: 15
            , where: {
                selectTitle: $.trim($("#select-title").val())
                , article: -1
            }
            , limits: [15, 30, 45, 60, 75, 90]
        });

        $("#btn-select-title").on('click', function () {
            tableObj.reload({where: {selectTitle: $.trim($("#select-title").val()), article: -1}});
        });
    });
</script>
</body>
</html>