<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>股票基础信息配置</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body>
<div id="LAY_app_body">
    <div class="layadmin-tabsbody-item layui-show">
        <div class="layui-fluid" style="margin: 15px;">
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 80px;">Title: </label>
                <div class="layui-input-inline" style="width: 300px;">
                    <input type="text" id="select-stock" lay-verify="required" placeholder="Please input stock code or name" autocomplete="off" class="layui-input">
                </div>
                <a href="javascript:;" class="layui-btn layui-btn-small" id="btn-select-stock"><i class="layui-icon layui-icon-refresh"></i> Select</a>
                <a href="javascript:;" class="layui-btn layui-btn-small" id="btn-add-stock"><i class="layui-icon layui-icon-add-circle"></i> Add</a>
            </div>
        </div>

        <div style="padding: 15px; overflow:auto;">
            <table class="layui-table" id="stockBaseTable" lay-filter="stockBaseTable" width="auto"
                   style="white-space:nowrap"></table>
            <script type="text/html" id="toolbar">
                <a class="layui-btn layui-btn-xs" lay-event="edit" id="editForm">
                    <i class="layui-icon">&#xe642;</i>Edit
                </a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
                    <i class="layui-icon">&#xe640;</i>UnObserve
                </a>
            </script>
        </div>
    </div>
</div>

<div style="margin: 15px; display: none" id="pop-div">
    <form class="layui-form">
        <div class="layui-form-item" id="pop-stock-code">
            <label class="layui-form-label">股票代碼:</label>
            <div class="layui-input-block" style="margin-left: 200px;">
                <input type="text" name="stock-code" id="stock-code" class="layui-input">
                <span id="stock-code-message"></span>
            </div>
        </div>
        <div class="layui-form-item" id="pop-stock-name">
            <label class="layui-form-label" style="width: 100px;">股票名稱:</label>
            <div class="layui-input-block" style="margin-left: 200px;">
                <input type="text" name="stock-name" id="stock-name" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" id="pop-company-introduction">
            <label class="layui-form-label" style="width: 100px;">公司簡介:</label>
            <div class="layui-input-block" style="margin-left: 200px;">
                <textarea name="company-introduction" id="company-introduction" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item" id="pop-listing-date">
            <label class="layui-form-label" style="width: 100px;">上市日期:</label>
            <div class="layui-input-block" style="margin-left: 200px;">
                <input type="text" name="listing-date" id="listing-date" class="layui-input" placeholder="yyyy-MM-dd">
            </div>
        </div>
        <div class="layui-form-item" id="pop-circulation-capital">
            <label class="layui-form-label" style="width: 100px;">流通股本(亿):</label>
            <div class="layui-input-block" style="margin-left: 200px;">
                <input type="text" name="circulation-capital" id="circulation-capital" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" id="pop-total-capital">
            <label class="layui-form-label" style="width: 100px;">总股本(亿):</label>
            <div class="layui-input-block" style="margin-left: 200px;">
                <input type="text" name="total-capital" id="total-capital" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px;">地域:</label>
            <div class="layui-input-block" style="margin-left: 200px;">
                <input type="radio" name="stock-area" value="sh" title="滬市" checked>
                <input type="radio" name="stock-area" value="sz" title="深市">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px;">類型:</label>
            <div class="layui-input-block" style="margin-left: 200px;">
                <input type="radio" name="stock-type" value="1" title="股票" checked>
                <input type="radio" name="stock-type" value="2" title="可轉債">
                <input type="radio" name="stock-type" value="3" title="國債">
                <input type="radio" name="stock-type" value="4" title="企業債">
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="/static/layui/layui.js"></script>
<script type="text/javascript" src="/static/layui/lay/modules/laypage.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
    layui.use(['table', 'form', 'laydate'], function () {
        var $ = layui.jquery,
            layer = layui.layer;
        var table = layui.table;
        var laydate = layui.laydate;

        laydate.render({
            elem: '#listing-date'
        });

        var tblCols = [
            {type: 'numbers'},
            {type: 'checkbox'},
            {field: 'id', title: 'id', hide: true},
            {field: 'stockCode', title: '代碼', width: 110},
            {field: 'stockName', title: '名稱', width: 110},
            {field: 'type', title: '類型', width: 180},
            {field: 'capital', title: '流通股本/縂股本(億)', width: 180},
            {field: 'startDate', title: '日流水開始日期', width: 130},
            {field: 'strategy', title: '推薦等級', width: 150},
            {field: 'strategyDate', title: '等級日期', width: 130},
            {field: 'latestPrice', title: '最新價格', width: 120},
            {field: 'priceRate', title: '價比', width: 120},
            {field: 'volumeRate', title: '量比', width: 120},
            {fixed: 'right', width: 200, align: 'center', toolbar: '#toolbar'}
        ];

        // 从数据库中检索所有的用户信息并渲染Table
        var tableObj = table.render({
            elem: '#stockBaseTable' //指定原始表格元素选择器（推荐id选择器）
            , cellMinWidth: 30
            , height: 'full-150'
            , loading: true
            , cols: [tblCols]
            , sort: true
            , page: true
            , url: '/public/stock/base/list'
            , limit: 15
            , where: {
                stock: $.trim($("#select-stock").val())
                ,timestamp: new Date()
            }
            , limits: [15, 30, 45, 60, 75, 90]
        });

        $("#btn-select-stock").on('click', function () {
            tableObj.reload({where: {stock: $.trim($("#select-stock").val())}});
        });

        $("#stock-code").blur(function () {
            var value = $(this).val();
            if ($.trim(value) == '') {
                return;
            }

            var area = $('input[name="stock-area"]:checked').val()

            $.get('/stock/base/' + area + "/" + value + '/exist', {}, function (data) {
                if (data.data == true) {
                    $("#stock-code-message").html('<font color="red">股票代碼已存在</font>');
                } else {
                    $("#stock-code-message").html('');
                }
            });
        });

        $('#btn-add-stock').on('click', function () {
            $('#pop-div').show();
            $("#stock-code").val('');
            $("#stock-name").val('');
            $("#company-introduction").val('');
            $("#listing-date").val('');
            laydate.render({
                elem: '#listing-date'
                ,value: '2019-12-26'
                ,isInitValue: true
            });
            $("#circulation-capital").val('');
            $("#total-capital").val('');
            $("input[name='stock-area'][value='sh']").attr('checked', "checked");
            $("input[name='stock-type'][value='1']").attr('checked', "checked");

            layui.laydate.render();
            layui.form.render();

            layer.open({
                type: 1,
                shadeClose: false,
                title: 'Add',
                btn: ['Save', 'Cancel'],
                area: ['640px', '550px'],
                content: $('#pop-div'),
                yes: function (index) {
                    layer.close(index);
                    var loading = layer.load(1);

                    var param = {
                        'stockCode': $("#stock-code").val().trim(),
                        'stockName': $("#stock-name").val().trim(),
                        'introduction': $("#company-introduction").val().trim(),
                        'listingDate': $("#listing-date").val().trim(),
                        'circulationCapital': $("#circulation-capital").val().trim(),
                        'totalCapital': $("#total-capital").val().trim(),
                        'area': $('input[name="stock-area"]:checked').val(),
                        'type': $('input[name="stock-type"]:checked').val()
                    };

                    $.post('/stock/base/save', param, function (result) {
                        if (result.code == 200) {
                            layer.msg("Save Successful.");
                            tableObj.reload();
                        } else {
                            layer.alert("Save failed.");
                            console.log(result.msg)
                        }
                        layer.close(loading);
                    }, "json");
                },
                end: function () {
                    $('#pop-div').hide();
                }
            });
        });
    });
</script>
</body>
</html>