<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tag列表</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body>
<div id="LAY_app_body">
    <div class="layadmin-tabsbody-item layui-show">
        <div class="layui-fluid" style="margin: 15px;">
            <div class="layui-form-item">
                <label class="layui-form-label" style="width: 80px;">Name: </label>
                <div class="layui-input-inline" style="width: 300px;">
                    <input type="text" id="select-name" lay-verify="required" placeholder="Please input name"
                           autocomplete="off" class="layui-input">
                </div>
                <a href="javascript:;" class="layui-btn layui-btn-small" id="btn-select"><i
                        class="layui-icon layui-icon-refresh"></i> Select</a>
                <a href="javascript:;" class="layui-btn layui-btn-small" id="btn-add"><i
                        class="layui-icon layui-icon-add-circle"></i> Add Tag</a>
            </div>
        </div>

        <div style="padding: 15px; overflow:auto;">
            <table class="layui-table" id="tag-table" lay-filter="tag-table" width="auto"
                   style="white-space:nowrap"></table>
            <script type="text/html" id="toolbar">
                <a class="layui-btn layui-btn-xs" lay-event="edit" id="editForm">
                    <i class="layui-icon">&#xe642;</i>Edit
                </a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">
                    <i class="layui-icon">&#xe640;</i>Delete
                </a>
            </script>
        </div>
    </div>
</div>

<div style="margin: 15px; display: none" id="pop-div">
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">Name:</label>
            <div class="layui-input-block" style="margin-left: 200px;">
                <input type="text" name="input-name" id="input-name" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Category:</label>
            <div class="layui-input-block" style="margin-left: 200px;">
                <select class="layui-select" name="select-category" id="select-category"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Entity:</label>
            <div id="tag-entity" class="demo-transfer" style="height: 420px; margin-left: 200px;"></div>
        </div>
    </form>
</div>

<script type="text/javascript" src="/static/layui/layui.js"></script>
<script type="text/javascript" src="/static/layui/lay/modules/laypage.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
    layui.use(['table', 'form', 'transfer'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            transfer = layui.transfer;

        var table = layui.table;
        var tblCols = [
            {type: 'numbers'},
            {type: 'checkbox'},
            {field: 'id', title: 'id', hide: true},
            {field: 'name', title: 'Name', width: 180},
            {field: 'category', title: 'Category', width: 200},
            {field: 'items', title: 'Items', width: 200},
            {field: 'lastUpdateTime', title: 'Last Update Time', width: 200},
            {fixed: 'right', width: 220, align: 'center', toolbar: '#toolbar'}
        ];

        // 从数据库中检索所有的用户信息并渲染Table
        var tableObj = table.render({
            elem: '#tag-table' //指定原始表格元素选择器（推荐id选择器）
            , cellMinWidth: 30
            , height: 'full-150'
            , loading: true
            , cols: [tblCols]
            , sort: true
            , url: '/tag/overview'
            , limit: 15
            , where: {
                name: $.trim($("#select-name").val())
            }
            , page: true
            , limits: [15, 30, 45, 60, 75, 90]
        });

        $("#btn-select").on('click', function () {
            tableObj.reload({where: {name: $.trim($("#select-user").val())}});
        });

        $('#btn-add').on('click', function () {
            $('#pop-div').show();
            $("#input-name").val('');
            layui.form.render();

            layer.open({
                type: 1,
                shadeClose: false,
                title: 'Add',
                btn: ['Save', 'Cancel'],
                area: ['725px', '700px'],
                content: $('#pop-div'),
                yes: function (index) {
                    layer.close(index);
                    var loading = layer.load(1);

                    var entityIds = new Array();

                    var transferData = transfer.getData('tagEntity');
                    for (var i in transferData) {
                        entityIds.push(transferData[i]["value"]);
                    }

                    var param = {
                        'name': $("#input-name").val().trim(),
                        'category': $("#select-category").val(),
                        'entityIds': entityIds.join(",")
                    };

                    $.post('/tag/create', param, function (result) {
                        if (result.code == 200) {
                            layer.msg("Save Successful.");
                            tableObj.reload();
                        } else {
                            layer.alert("Save failed.");
                            console.log(result.msg)
                        }
                        layer.close(loading);
                    }, "json");
                },
                end: function () {
                    $('#pop-div').hide();
                }
            });
        });

        table.on('tool(tag-table)', function (obj) {

            var data = obj.data;
            var layEvent = obj.event;

            if (layEvent === 'edit') {
                $('#pop-div').show();
                $("#input-name").val('');
                $("#select-category").find("option[name=" + data.category + "]").prop("selected", true);
                layui.form.render();

                layer.open({
                    type: 1,
                    shadeClose: false,
                    title: 'Add',
                    btn: ['Save', 'Cancel'],
                    area: ['725px', '700px'],
                    content: $('#pop-div'),
                    yes: function (index) {
                        layer.close(index);
                        var loading = layer.load(1);

                        var entityIds = new Array();

                        var transferData = transfer.getData('tagEntity');
                        for (var i in transferData) {
                            entityIds.push(transferData[i]["value"]);
                        }

                        var param = {
                            'id': data.id,
                            'name': $("#input-name").val().trim(),
                            'category': $("#select-category").val(),
                            'entityIds': entityIds.join(",")
                        };

                        $.post('/tag/update', param, function (result) {
                            if (result.code == 200) {
                                layer.msg("Save Successful.");
                                tableObj.reload();
                            } else {
                                layer.alert("Save failed.");
                                console.log(result.msg)
                            }
                            layer.close(loading);
                        }, "json");
                    },
                    end: function () {
                        $('#pop-div').hide();
                    }
                });
            } else if (layEvent == 'delete') {
                layer.confirm('Do you want to delete it?', {
                    btn: ['Confirm', 'Cancel'], title: false
                }, function (index) {
                    layer.close(index);
                    var loading = layer.load(1);

                    $.get("/tag/" + data.id + "/delete", {}, function (result) {
                        if (result.code == 200) {
                            layer.msg("Delete successful.");
                            tableObj.reload();
                        } else {
                            layer.alert("Delete failed.");
                            console.log(result.msg)
                        }
                        layer.close(loading);
                    });
                });
            }
        });

        $.get('/refer/entity/list', {type: 1}, function (data) {
            //显示搜索框
            transfer.render({
                elem: '#tag-entity'
                , data: data.data
                , title: ['全选', '全选']
                , showSearch: true
                , id: "tagEntity"
            });
        });

        $.get('/enum/tag/category', {}, function (data) {
            var html = "";
            $("select[name='select-category']").empty();
            $.each(data.data, function (index, item) {
                html += "<option value='" + item.code + "'>" + item.name + "</option>";
            });

            $("select[name='select-category']").append(html);

            layui.form.render('select');
        });
    });
</script>
</body>
</html>